@media (max-width: 1140px) {
    .jh-header-menu {
        margin-left:0px;
    }
    .jh-header-menu ul li {
        font-size: 0.8em;
      }
}
@media (max-width: 768px) {
    .jh-header-menu {
        display:none;
    }
    .logo-image {
        margin-left:0px!important;
    }
    .search-switch-buttons {
        padding:0px;
        font-size:0.9em;
    }
    .layout-column {
        max-width: 100% !important;
    }
    .search-extras {
        display:none;
    }
}
 @media (max-width: 480px) {
    .search-extras {
        display:none;
    }
 }
