

#citationLinker{
    margin-top: 85px;
    background-color:transparent!important;
}
/* This is for the services page which is the equivalent of Find It in the pre-Alma times 
   this is the page that displays when you use the citation linker. */


/* This fixes a problem with the services page where the top of the page is hidden by the top navigation bar. */
body > primo-explore > div > prm-services-page > prm-full-view-cont > md-content {
    margin-top: 85px !important;
  }

  /* display navigation links on services page */
  prm-topbar .isDeposit, prm-topbar .isServicePage, prm-topbar .isSummonOverAlma {
    display: inline;
}