prm-explore-main .header {
    background-image: url("/discovery/custom/01JHU_INST-sais_europe/img/bolognabanner1.jpg");
    background-repeat: no-repeat;
    background-color:#002d72;
    padding-bottom:25px;
}
